@font-face {
            font-family: halloween1;
            src: url('tipografias/ShallowGraveBB.ttf');
}
body {background-color: black;}
        #container {position:relative;
                    background-image:url('../imagenes/wallpaper.jpg');
                    margin:auto;
                    width:900px;
                    height:500px;
                    }
        #titulo {position:absolute;
                 top:20px;
                 left:250px;
                 font-family:halloween3;
                 font-size: 3em;
                 color:black;
                 text-shadow:1px 1px 1px black;
        }
        #advertencia {position:absolute;
                      top:350px;
                      left:100px;
                      font-size:2em;
                      color:red;
        }
        #fantasma {position: absolute;
               top:40px;
               left:60px;
               visibility:hidden;}
        #calabaza {position:absolute;
                   top:400px;
                   left:80px;
                   width:100px;
                   height:100px;
                   cursor:pointer;
                   /*border:1px solid white;*/}
        #mano {position: absolute;
                top:330px;
                left: 720px
                width:100px;
                heigth:150px;
                border:1px}
        #columpio {position: absolute;
                top: 160px;
                left: 10px
                cursor: crosshair}